.upvoteBouton {
    background-color: white ! important;
    border-color: #f3f3f3 ! important;
    color: black ! important;
    font-size: 16px ! important;
    
}

.upvoteBouton:hover {
    background-color: #f3f3f3 ! important;
    border-color: #f4f4f4 ! important;
}


.otherBouton{
    background-color:  #b74424 !important;
    border-color:  #b74424 !important;
    color: white! important;
    font-size: 16px ! important;  
    font-weight: bold ! important;
}

.otherBouton:hover{
    background-color:  #cc4d29 !important;
    border-color:   #cc4d29 !important;
    
}
.colonne{
    display: block !important;
}

.ligne{
    display: inline-block !important;
}
.voteOpacity{
    opacity: 0.65;
}



    
